.header {
    margin-bottom: $xl-size;
    text-align: center;


}

.header__title {
    margin-top: 30rem;
    font-size: $xl-size;
    font-family: 'Tangerine', arial;
}

.header__subtitle {
    font-size: $m-size;
    
}

